.user-cart {
  display: flex;
  flex-direction: row;
}

.cart-list {
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.cart-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.cart-list li {
  padding: 10px;
}

.cart-list img {
  width: 100px;
  height: 100px;
}

.cart-checkout {
  background-color: lightblue;
  padding: 10px;
  border-left: solid 1px black;
  margin: 25px;
  min-width: 200px;
  max-height: 200px;
}
